

.ts2_nav {
	background-color: black;
	background-image: url("../images/banner.jpeg");
	background-repeat: none;
	background-position:  left 0 top 30px;
	height: 80px;
	
}
.ts2_nav a {
	font-family: monospace;
}

.jumbotron {
	margin-top: 50px;	
}
.jumbotron h1 {
	color: #444444;
	font-size: 18pt;
	font-family: monospace;
	border-left: 10px solid #FFFF00;
	border-right: 10px solid #00FF00;
	padding: 5px 0 5px 30px;
	border-top: 4px dashed #dddddd;
	border-bottom: 4px dashed #dddddd;
	
}
.jumbotron p {
	
}

h2 {
	font-family: monospace;
	font-size: 12pt;
	padding: 3px 5px;
	background-color: #dddddd;
	border-top-right-radius: 15px;
}