

.ts2_nav {
	background-color: black;
	background-image: url("../images/banner.jpeg");
	background-repeat: none;
	background-position:  left -70px top 20px;
	height: 80px;
	
}
.ts2_nav a {
	font-family: monospace;
}

.jumbotron {
    sbackground-color: #dddddd;
    padding-top: 10px;
}
.jumbotron h1 {
	color: #444444;
	font-size: 20pt;
	font-family: monospace;
        text-align: center;
	border-left: 10px solid #FFFF00;
	border-right: 10px solid #00FF00;
	padding: 5px 0 5px 30px;
	deadborder-top: 4px dashed #aaaaaa;
	deadborder-bottom: 4px dashed #aaaaaa;
	
}
.jumbotron p {
	
}

h2 {
	font-family: monospace;
	font-size: 12pt;
	padding: 3px 5px;
	background-color: #dddddd;
	border-top-right-radius: 15px;
}